<link rel="import" href="../../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="designmap-loading">
    <template>
        <style>
            .header {
                height: 40px;
                width: 100%;
                background-color: var(--blue-darkest-color);
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .content {
                padding: 30px;
                background-color: var(--white-color);
            }

            .question, .gear {
                padding: 5px;
                cursor: pointer;
                transition: .2s background;
                border-radius: 50%;
            }

            .question {
                margin-right: 5px;
            }

            .question:hover, .gear:hover {
                background: var(--blue-color);
                transition: .2s background;
            }

            .loading {
                display: block;
                width: 100%;
                height: 40px;
                background:  url('./assets/three-dots-gray.svg') no-repeat center;
            }
        </style>
        <div class="header" style="-webkit-app-region: drag">
            <iron-icon class="gear" icon="icons:gear" on-click="goToSettings"></iron-icon>
            <iron-icon class="question" icon="designmap:question"></iron-icon>
        </div>
        <div class="content">
            <div class="loading"></div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'designmap-loading',
            behaviors: [],
            properties: {}
        })
    </script>
</dom-module>
