<link rel="import" href="../../../../../bower_components/polymer/polymer.html">
<link rel="import" href="./designmap-project-select.html">
<link rel="import" href="../designmap-buttons/designmap-loading-button.html">
<link rel="import" href="../designmap-buttons/designmap-file-button.html">

<dom-module id="designmap-toolbar">

    <template>
        <style>
            .header {
                height: 40px;
                width: 100%;
                background-color: var(--blue-darkest-color);
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .content {
                padding: 30px;
                background-color: var(--white-color);
            }

            .question, .gear {
                padding: 5px;
                cursor: pointer;
                transition: .2s background;
                border-radius: 50%;
            }

            .question {
                margin-right: 5px;
            }

            .question:hover, .gear:hover {
                background: var(--blue-color);
                transition: .2s background;
            }

            .upload-button {
                margin-top: 30px;
            }

            .title {
                position: absolute;
                width: calc(100% - 60px);
                text-align: center;
                z-index: 20;
                margin: 30px 0;
            }

            .title hr {
                border-color: var(--gray-lightenest-color);
                background: var(--gray-lightenest-color);
                opacity: 0.3;
            }

            .title .text {
                position: absolute;
                color: var(--gray-darky-color);
                font-weight: 100;
                font-size: 16px;
                text-align: center;
                width: 100%;
                background: var(--white-color);
            }

            .title .text i18-n {
                position: relative;
                top: -22px;
                padding: 0 10px;
                background: var(--white-color);
            }

            .button-set {
                margin-top: 73px;
                display: flex;
                justify-content: space-around;
            }

            .button-set > button {
                display: inline-block;
                width: calc(50% - 10px);
                font-size: 15px;
                padding: 12px 5px;
            }

            .button-set > button:first-child {
                margin-left: 0;
            }
            designmap-file-button {
                margin-top: 25px;
                margin-bottom: 0;
            }
        </style>
        <div class="header" style="-webkit-app-region: drag">
            <iron-icon class="gear" icon="designmap:gear" on-click="goToSettings"></iron-icon>
            <iron-icon class="question" icon="designmap:question"></iron-icon>
        </div>
        <div class="content">
            <designmap-project-select project="[[project]]" projects="[[projects]]"></designmap-project-select>
            <!--<button is="designmap-loading-button" on-click="openFileDialog" fit blue thin class="upload-button">
                <i18-n msgid="Upload">Upload</i18-n>
            </button>-->
            <designmap-file-button fit blue thin name="files[]"
                                   files="{{buttonFiles}}"
                                   allowed-extension="[[allowedExtension]]"
                                   class="upload-button"
                                   on-change="_buttonFilesChanged"
                                   on-notallowed="_showFilesNotAllowedError" multiple="multiple" id="files">
                <i18-n msgid="Upload">Upload</i18-n>
            </designmap-file-button>
            <div class="title">
                <div class="text">
                    <hr/>
                    <i18-n msgid="or capture">or capture</i18-n>
                </div>
            </div>
            <div class="button-set">
                <button is="designmap-button" on-click="makeFullScreenShot" blue-border>
                    <i18-n msgid="Full Screen">Full Screen</i18-n>
                </button>
                <button is="designmap-button" on-click="makeFrameScreenShot" blue-border dashed>
                    <i18-n msgid="Selected Area">Selected Area</i18-n>
                </button>
            </div>
        </div>
    </template>

    <script>
        const {remote} = require('electron');
        const main = remote.require('./main');
        const bluebird = require('bluebird');
        const fs = require('fs');
        const path = require('path');
        const readFileAsync = bluebird.promisify(fs.readFile);
        const {takeFullScreen} = require('./libs/screenshot');
        const concat = require('concat-stream');
        Polymer({
            is: 'designmap-toolbar',
            behaviors: [
                Polymer.DesignMapMessagesBehavior
            ],
            properties: {
                project: {
                    type: Object,
                    value: {}
                },
                allowedExtension: {
                    type: Array,
                    value: [".jpg", ".png", ".gif", ".ttf", ".bmp", ".jpg", ".psd", ".eps", ".ai", ".pdf", ".zip", ".rar", ".txt", ".docx", ".ttf", ".eot"]
                },
                projects: {
                    type: Array,
                    value: []
                },
                buttonFiles: {
                    type: Array,
                    value: []
                }
            },
            ready: function () {
                ipcRenderer.on('makeSnapshot', this.makeFullScreenShot.bind(this));
                ipcRenderer.on('makeFramedSnapshot', this.makeFrameScreenShot.bind(this));
                ipcRenderer.on('uploadFiles', this.openFileDialog.bind(this));
                this.app = document.querySelector('designmap-app');
            },
            makeFullScreenShot: function () {
                main.hideMainWindow();
                takeFullScreen((image) => {
                    const base64Data = image.replace(/^data:image\/jpeg;base64,/, "");
                    this.fire('upload', base64Data);
                });
            },
            makeFrameScreenShot: function () {
                main.hideMainWindow();
                main.createOverlayWindow();
            },
            openFileDialog: async function () {
                this.$.files.$.files.click();
            },
            _buttonFilesChanged: async function () {
                if (!this.buttonFiles.length) return;
                for (let file of this.buttonFiles) {
                    await this.app._uploadFilesDirectly({detail: {file: file}});
                }
                this.buttonFiles = [];
            },
            _showFilesNotAllowedError: function(){
                this.showErrorMessage('File with this extension cannot be uploaded in Designmap.')
            },
            goToSettings: function(){
                this.app.screen = 'settings';
            }
        });
    </script>

</dom-module>

