<link rel="import" href="../../../../../bower_components/polymer/polymer.html">

<dom-module id="designmap-toolbar">

  <template>
    <style>
      /* local DOM styles go here */
      :host {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        /*-webkit-main-region: drag*/
        width: 100px;
        height: 40px;
        border-radius: 10px;
        background: #a06271;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    </style>
    <button on-click="makeSnapshot">Make a snapshot</button>
  </template>

  <script>
    const fs = require('fs');
    const path = require('path');
    const getScreen = require('user-media-screenshot');
    Polymer({
      is: 'designmap-toolbar',
      behaviors: [
          Polymer.DesignMapMessagesBehavior
      ],
      properties: {

      },
      ready: function () {
          ipcRenderer.on('ping', (event, message) => {
            this[message] ? this[message]() : null;
          });
      },
      makeSnapshot: function(e){
        getScreen((image)=>{
          const base64Data = image.replace(/^data:image\/jpeg;base64,/, "");

          this.fire('upload',base64Data);
        });
      }
    });
  </script>

</dom-module>

