<link rel="import" href="../../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../designmap-ui/designmap-language-switcher.html">
<link rel="import" href="../designmap-ui/designmap-avatar-projector.html">
<link rel="import" href="../designmap-ui/designmap-storage-bar.html">

<dom-module id="designmap-settings">
    <template>
        <style>
            :host {
                --designmap-avatar-projector-mixin: {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                };
                --designmap-avatar-projector-text-mixin: {
                    font-size: 24px;
                }
            }
            *[hidden] {
                display: none !important;
            }
            .header {
                height: 40px;
                width: 100%;
                background-color: var(--blue-darkest-color);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .grab {
                flex: 20;
                -webkit-app-region: drag;
                height: 40px;
                cursor: move;
            }

            .content {
                padding: 30px;
                background-color: var(--white-color);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 285px;
            }

            .question, .gear {
                padding: 5px;
                cursor: pointer;
                transition: .2s background;
                border-radius: 50%;
                --iron-icon-stoke-color: var(--white-color);
                --iron-icon-fill-color: var(--white-color);
            }
            .gear {
                margin-left: 5px;
            }
            .question {
                margin-right: 5px;
            }

            .question:hover, .gear:hover {
                background: var(--blue-color);
                transition: .2s background;
            }
            .block {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .user {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .name {
                color: var(--gray-darkend-color);
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 5px;
            }
            .name .firstName, .name .lastName {
                display: inline-block;
            }

            .name .lastName {
                margin-left: 2px;
            }
            .name .email {
                font-weight: 100;
                font-size: 14px;
            }
            .name .email.big {
                font-size: 20px;
            }
            .logout {
                color: var(--blue-darky-color);
                cursor: pointer;
            }
            .logout:hover {
                text-decoration: underline;
            }
            label {
                font-size: 18px;
                font-weight: 100;
                color: var(--gray-darkend-color);
            }
            .block.offset {
                margin: 30px 0;
            }
            .block.column {
                flex-direction: column;
            }
        </style>
        <div class="header">
            <iron-icon class="gear" icon="icons:arrow-back" on-click="goToToolbar"></iron-icon>
            <div class="grab"></div>
            <iron-icon class="question" icon="designmap:question" on-click="openLink"></iron-icon>
        </div>
        <div class="content">
            <div class="block">
                <div class="user">
                    <designmap-avatar-projector user="[[user]]" config="[[config]]"></designmap-avatar-projector>
                    <div class="name">
                        <div class="n" hidden$="[[!_isThereName(user)]]">
                            <div class="firstName">[[user.profile.name]]</div>
                            <div class="lastName">[[user.profile.lastName]]</div>
                        </div>
                        <div class$="email [[_computeEmailClass(user)]]">[[user.local.email]]</div>
                    </div>
                </div>
                <!--<div class="logout">
                    <i18-n msgid="Signout">Signout</i18-n>
                </div>-->
            </div>
            <div class="block column" style="position: relative; bottom:15px">
                <label style="margin-bottom: 3px; "><i18-n msgid="Data space:">Data space:</i18-n></label>
                <designmap-storage-bar id="bar" user="[[user]]"></designmap-storage-bar>
            </div>
            <div class="block">
                <designmap-language-switcher system="[[system]]"></designmap-language-switcher>
                <div class="logout" on-click="logout">
                    <i18-n msgid="Signout">Signout</i18-n>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'designmap-settings',
            behaviors: [],
            properties: {
                system: {
                    type: Object,
                    value: {}
                },
                config: {
                    type: Object,
                    value: {}
                },
                user: {
                    type: Object,
                    value: {}
                }
            },
            ready: function(){
                this.app = document.querySelector('designmap-app');
            },
            goToToolbar: function(){
                this.app.screen = 'toolbar';
            },
            _computeEmailClass: function(user) {
                if(!user) return;
                const isThereName = user.profile && (user.profile.name || user.profile.lastName);
                return isThereName?'small':'big';
            },
            _isThereName: function(user) {
                if(!user) return;
                return user.profile && (user.profile.name || user.profile.lastName);
            },
            logout: function(){
                main.logout();
            },
            openLink: function(){
                shell.openExternal('https://app.designmap.ru/support/docs#app');
            }
        })
    </script>
</dom-module>
